# =========================================================================
# BOT CONFIGURATION FOR RENDER 24/7
# =========================================================================

# Discord Bot Token từ Discord Developer Portal
DISCORD_TOKEN=

# Discord Client / Application ID
CLIENT_ID=1544696625643917334

# Discord ID của Admin (Dùng để xác thực quyền tối cao)
ADMIN_USER_ID=1056192010358374423

# Lệnh bí mật kích hoạt Bảng điều khiển Quản trị viên trong DM
SECRET_CODE=#ad

# ID kênh âm nhạc chuyên dụng (Để trống nếu cho phép dán link ở mọi kênh)
MUSIC_CHANNEL_ID=

# Giọng đọc Fish Audio AI (Tùy chọn, để trống sẽ tự động dùng Google TTS tiếng Việt)
FISH_AUDIO_API_KEY=
FISH_AUDIO_VOICE_ID=5aaab6b5458b4591b87a33de8a3e4874

# Cổng máy chủ Web HTTP Health Check cho Render
PORT=3000
